<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/antumbria-planet.png" alt=""  height="300" width="300" align="right">

**Radius**: 5024 km<br>
**Mass**: 6.92×10^24 kg<br>
**Surface Temperature**<br>
&nbsp;&nbsp;&nbsp;&nbsp;Minimum: 10°F<br>
&nbsp;&nbsp;&nbsp;&nbsp;Mean: 78°F<br>
&nbsp;&nbsp;&nbsp;&nbsp;Maximum: 120°F<br>
**Surface Pressure:** 72.231 kPa<br>
**Day Length** 8 earth hours<br>
**Year Length** 329 earth days<br>
**Surface Gravity**: 8.8 m/s^2<br>
**Satellites**: <i>none</i><br>
**Sentient Inhabitants**:<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Skin-Collectors">Skin Collectors</a><br>
**Political Affiliation**:<br>
&nbsp;&nbsp;&nbsp;&nbsp;<i href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Antumbrid-Suture">The Antumbrid Suture</i><br>

**Description**<br>
MEAT


<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Planets">Back to Planets Home</a>

<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/antumbria.png" alt="antumbria">