<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/arrikshaar.png" alt="arrikshaar"  height="300" width="300" align="right">

**Radius**: 9421 km<br>
**Mass**: 6.83×10^24 kg<br>
**Surface Temperature**<br>
&nbsp;&nbsp;&nbsp;&nbsp;Minimum: −96°F<br>
&nbsp;&nbsp;&nbsp;&nbsp;Mean: 32°F<br>
&nbsp;&nbsp;&nbsp;&nbsp;Maximum: 125°F<br>
**Surface Pressure:** 12.042 kPa<br>
**Day Length** 30 earth hours<br>
**Year Length** 447 earth days<br>
**Surface Gravity**: 8.6 m/s^2<br>
**Satellites**<br>
&nbsp;&nbsp;&nbsp;&nbsp;Arrizir<br>
&nbsp;&nbsp;&nbsp;&nbsp;Varrazir<br>
**Sentient Species**: <i>none</i><br>
**Political Affiliation**:<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi-Clans">Zakasi Clans</a><br>

**Description**<br>
Arrikshaar III is a dusty and desolate world. It is notable for its large quantities of sodium-chloride and other chloride salts covering the crust and dissolved within its oceans. Despite the presence of liquid water, the extreme salinity has hindered the evolution of organic life. The planet has been infested by the <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi">zakasi</a>, who were initially attracted by the presence of liquid water and stayed to exploit the planet's rich stores of uranium ore.

**Geology**<br>
Near the equator and in regions far from the seas, the planet consists of arid salt-flats and mirror-flats. Due to the planet's high spin velocity, the former is characterized by frequent salt-storms and fast-moving salt-dunes. 

In more temperate regions and near oceans, the action of water evaporation and condensation cause the formation of large salt-formations. While many of these are striking in their own right, the most important to the planet's ecology are the salt-caves, which offer shade in hot regions and often connect to groundwater reservoirs


**Ecology**<br>
Due to the high levels of salt, the bulk of arrikshaar's land plants are unicellular or lichen-like symbionts. A few macroscopic plants have found ways to survive in the saline oceans alongside algae and halobacteria, but even these tend to remain relatively small.

The surface of the planet is home to pallid silt-crawlers and hopping arthropods. The presence of these creatures far from oceans may indicate the presence of nearby caverns. In any event, the bulk of the planet's life consist of halophilic marine organisms. The largest of these resemble giant brine shrimp.


<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Planets">Back to Planets Home</a>


