<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/karkirraas.png" alt="karkirraas"  height="300" width="300" align="right">

**Radius**: 5335 km<br>
**Mass**: 4.26×10^24 kg<br>
**Surface Temperature**<br>
&nbsp;&nbsp;&nbsp;&nbsp;Minimum: −26°F<br>
&nbsp;&nbsp;&nbsp;&nbsp;Mean: 82°F<br>
&nbsp;&nbsp;&nbsp;&nbsp;Maximum: 155°F<br>
**Surface Pressure:** 18.042 kPa<br>
**Day Length** 40 earth hours<br>
**Year Length** 506 earth days<br>
**Surface Gravity**: 7.9 m/s^2<br>
**Satellites**<br>
&nbsp;&nbsp;&nbsp;&nbsp;Azarra<br>
&nbsp;&nbsp;&nbsp;&nbsp;Jikirra<br>
&nbsp;&nbsp;&nbsp;&nbsp;Yahirra<br>
&nbsp;&nbsp;&nbsp;&nbsp;Rikizir<br>
**Sentient Species**: <i>none</i><br>
**Political Affiliation**:<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi-Clans">Zakasi Clans</a><br>

**Description**<br>
Karkirraas V is a dark and toxic planet with oceans of sulphuric acid and an atmosphere dense enough to block out the light from its star. Because of its proximity to <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakaas">Zakaas</a> and the fact that its atmosphere is naturally high in sulphides and sulphur-dioxide, it was an early target for <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi">Zakasi</a> infestation.

**Geology**<br>
Karkirras originally had small seas of liquid water. However, as volcanic activity continued to pollute the atmosphere with high levels of carbon-dioxide and sulphur-dioxide, most surface water eventually reacted with the toxic atmosphere to form sulfuric acid (H2SO4). This acid eventually precipitated and formed the oceans and lakes that cover the planet today.

The planet's tectonic plates are heavily fractured, and as a result it's continents are small and numerous rather than large and monolithic. Despite highly active plate tectonics, surface eruptions are rare due to the proliferation of geothermal vents that act as natural pressure valves. These commonly overlap with oceans or underground lakes, resulting in towering geysers of boiling acid. The intense heat eventually decomposes the acid into it's original component gases, which are converted back into acid rain in the planet's upper atmosphere due to the star's photochemical action. 

The crust is rich in heavy elements, notably uranium. Reactive metals such as iron and aluminum are also common, but are typically found in the form of salts or ores rather than in their elemental form, due to the highly corrosive environment. 

**Ecology**<br>
Karkirraas' high levels of geothermal activity have allowed chemosynthetic extremophiles to thrive even in the absence of sunlight. These in turn form the root of the planet's foodchain. The planet's native inhabitants are relatively small. the largest are grazing invertebrates that travel between geysers in search of acidophilic fungus. The planet is also home to leaping, insectlike predators and airborne parasites. The seas have not been thoroughly explored, but there have been sightings of giant worm-like organisms, possibly related to small acidotrophic worms found in the planet's underground lakes.

**Zakasi Colonies**<br>
Several Zakasi _Skrirr_ have established _Virr_ on Karkirraas. Its hot and acidic environment is similar to the Hollow Continents of Zakaas, though the scarcity of liquid water has inhibited their spread and the introduction of non-native species. The colonies' primary exports are liquid fuel, steel, uranium and other industrially valuable metals. These are transported to the planet's moons, enabling passing <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi-Starcrawler">starcrawlers</a> to easily refuel without specialized equipment for transporting resources through the planet's harsh atmosphere.

**Moons**<br>
Due to the prevalence of sulphuric acid in the atmosphere, shuttles and equipment must be plated with corrosion resistant alloys if they are to last. To save bother, terrestrial colonies ship ore and fuel to the less reactive moon's before hand. Rikizir and Jikirra have been heavily colonized and serve as orbital space-stations. 

Azarra and Yahirra are remarkable for their high levels of radioactive fuel. Azarra is so radioactive that it glows even in the absence of reflected sunlight. The high levels of ionizing radiation make them hazardous for organic life, but the value of the radioactive fuels are such that many risk manned operations in order to stake their claims.




<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Planets">Back to Planets Home</a>


