<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/party-planet.png" alt="" height="300" width="300" align="right">

**Radius**: 6417 km<br>
**Mass**: 7.02×10^24 kg<br>
**Surface Temperature**<br>
&nbsp;&nbsp;&nbsp;&nbsp;Minimum: −20°F<br>
&nbsp;&nbsp;&nbsp;&nbsp;Mean: 75°F<br>
&nbsp;&nbsp;&nbsp;&nbsp;Maximum: 110°F<br>
**Surface Pressure:** 83.577 kPa<br>
**Day Length** 12 earth hours<br>
**Year Length**: <i>none</i> (see text)<br>
**Surface Gravity**: 9.1 m/s^2<br>
**Satellites:** <i>none</i><br>
**Sentient Inhabitants**: <i>various</i><br>
**Political Affiliation**: <i href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Raukaashja-Empires">The Political Party</i><br>

**Description**<br>
Party Planet is a world of floam and gak presided over by the nigh-omnipotent Partygeist AI. Because partygeist's firmware cannot handle dates outside the range 1900-1999, by dictatorial fiat, it is always 1999 on party planet, effectively stopping the passage of time in any official capacity.

The planet has no natural or native inhabitants, but explorers who come to close feel the siren call of The Party. Those who set foot of the planet pretty much never leave and frankly why would they. 

<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Planets">Back to Planets Home</a>