<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/placeholderus.png" alt="placeholderus"  height="300" width="300" align="right">

**Radius**: 12,883 km<br>
**Mass**: 6.59×10^24 kg<br>
**Surface Temperature**<br>
&nbsp;&nbsp;&nbsp;&nbsp;Minimum: −326°F<br>
&nbsp;&nbsp;&nbsp;&nbsp;Mean: −248°F<br>
&nbsp;&nbsp;&nbsp;&nbsp;Maximum: -195°F<br>
**Surface Pressure:** 460.983 kPa<br>
**Day Length** 254 earth hours<br>
**Year Length** 1896 earth days<br>
**Surface Gravity**: 10.2 m/s^2<br>
**Satellites**<br>
&nbsp;&nbsp;&nbsp;&nbsp;Kuu, Luurak, Dokal, Kol, Uurol<br>
**Sentient Inhabitants**:<br>
&nbsp;&nbsp;&nbsp;&nbsp;<i href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi">Unknown</i><br>
**Political Affiliation**:<br>
&nbsp;&nbsp;&nbsp;&nbsp;<i href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi-Clans">Unknown</i><br>

**Description**<br>
Placeholderus VIII lies at the edge of the Placeholderus star system, but is much less massive than it's neighbors. It's location, mass and composition place it in a border region between the rocky planets of the inner star system and it's ice giant neighbors. Its atmosphere has a relative thickness comparable to other planets of the outer star system, but its overall low mass/volume ratio means it's surface gravity remains similar to the inner planets. 

The planet's crust is composed mostly of hydrogen, oxygen, and water, but also contains substantial quantities of heavy metals from the platinum group deposited by meteorites. Of these last, ruthenium is notable as having come to play an important part in the biochemical processes of native creatures, due to its role as a catalyst in separating liquid water into elemental hydrogen and oxygen. hydrogen, and more rarely oxygen, are found in all major phase states, forming the atmosphere, crust, and oceans. Most of the planet's surface water exists as ice due to extremely cold temperatures, although many organisms reach internal temperatures high enough to melt it, and in which state it is used to safely store oxygen until needed for combustion. 

<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/placeholderus-chromewurm.png" alt="placeholderus chrome-wurm"  height="300" width="400" align="left">

**Evolutionary History**<br>
Despite Placeholderus' extreme cold and atmospheric pressure, the abundance of chemical energy in the form of liquid hydrogen and oxygen, as well as chemically valuable catalysts has allowed many organisms to thrive in the otherwise harsh environment. 

Some of the earliest lifeforms consisted primarily of bacteria-like microorganisms who used controlled hydrogen-oxygen explosions to achieve motion, using the excess force to propel themselves through the oceans, while protecting themselves with shells of chrome and other non-reactive elements. As creatures became larger, the ability to exploit these volatile substances remained key, as did the ability to survive near-constant contact with them. 

<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Planets">Back to Planets Home</a>

<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/placeholderus-microorganisms.png" alt="placeholderus microorganisms"  height="600" width="800" align="left">


