<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/shauraaj.png" alt=""  height="300" width="300" align="right">

**Radius**: 7287 km<br>
**Mass**: 6.92×10^24 kg<br>
**Surface Temperature**<br>
&nbsp;&nbsp;&nbsp;&nbsp;Minimum: −38°F<br>
&nbsp;&nbsp;&nbsp;&nbsp;Mean: 78°F<br>
&nbsp;&nbsp;&nbsp;&nbsp;Maximum: 140°F<br>
**Surface Pressure:** 83.577 kPa<br>
**Day Length** 18 earth hours<br>
**Year Length** 272 earth days<br>
**Surface Gravity**: 10.1 m/s^2<br>
**Satellites**<br>
&nbsp;&nbsp;&nbsp;&nbsp;Dausha<br>
&nbsp;&nbsp;&nbsp;&nbsp;Jaarai<br>
&nbsp;&nbsp;&nbsp;&nbsp;Auja<br>
**Sentient Inhabitants**:<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Raukaashja">Raukaashja</a><br>
**Political Affiliation**:<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Raukaashja-Empires">Raukaashja Empires</a><br>

**Description**<br>
Shauraaj is a hot and humid planet covered swampy, shallow oceans of liquid water and lush jungles of towering polyp-like organisms, metabolizing chlorine from the planet's seas and exhaling it as a gas into the atmosphere, where it is used by megafauna for cellular respiration.


<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Planets">Back to Planets Home</a>