<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/varrazaar.png" alt="varrazaar"  height="300" width="300" align="right">

**Radius**: 6786 km<br>
**Mass**: 4.77×10^24 kg<br>
**Surface Temperature**<br>
&nbsp;&nbsp;&nbsp;&nbsp;Minimum: 15°F<br>
&nbsp;&nbsp;&nbsp;&nbsp;Mean: 52°F<br>
&nbsp;&nbsp;&nbsp;&nbsp;Maximum: 78°F<br>
**Surface Pressure:** 18.125 kPa<br>
**Day Length** 22 earth hours<br>
**Year Length** 808 earth days<br>
**Surface Gravity**: 7.3 m/s^2<br>
**Satellites**<br>
&nbsp;&nbsp;&nbsp;&nbsp;Zirrizir<br>
**Sentient Species**: <i>none</i><br>
**Political Affiliation**:<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi-Clans">Zakasi Clans</a><br>

**Description**<br>
Varrazaar III is a foggy ocean world. Its relatively mild climate and oceans of water make it a hospitable world for many carbon-based lifeforms. However, despite its general habitability the planet was first colonized by the sulphur-breathing <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi">zakasi</a>, who use it as a staging ground for  their piratical activities.

**Geology**<br>
Varrazaar's atmosphere is notoriously murky and temperamental. The planet is known for its dramatic and frequent storms, some of which may last for years. When the storms and rains abate, it is usually to be replaced by blankets of impenetrable fog. On the other hand, the thick atmosphere and strong ocean currents keep the planet's temperature extremely stable.

96% of the planet's surface is submerged, the remaining 4% consisting of islands scattered about on tectonic fault-lines. These islands are effectively the peaks of marine mountains, and many are volcanically active.

The planets oceans are wide and deep. 

**Ecology**<br>
Despite dense cloud-cover, Varrazaar's foodchain is based on photosynthetic protozoans. the sheer density of these organisms is sufficient to provide energy for even the greatest of the planet's deep-sea leviathans.

As few islands are large enough to fully sustain independent populations, terrestrial lifeforms are usually amphibious, resting on land, away from the larger predators, and returning to the sea to feed.




<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Planets">Back to Planets Home</a>