<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakaas.png" alt="zakaas"  height="300" width="300" align="right">

**Radius**: 6421 km<br>
**Mass**: 5.46×10^24 kg<br>
**Surface Temperature**<br>
&nbsp;&nbsp;&nbsp;&nbsp;Minimum: −226°F<br>
&nbsp;&nbsp;&nbsp;&nbsp;Mean: −82°F<br>
&nbsp;&nbsp;&nbsp;&nbsp;Maximum: 95°F<br>
**Surface Pressure:** 12.042 kPa<br>
**Day Length** 128 earth hours<br>
**Year Length** 624 earth days<br>
**Surface Gravity**: 8.84 m/s^2<br>
**Satellites**<br>
&nbsp;&nbsp;&nbsp;&nbsp;Akikirri<br>
&nbsp;&nbsp;&nbsp;&nbsp;Varr<br>
**Sentient Inhabitants**:<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi">Zakasi</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Skirriashi">Skirriashi</a><br>
**Political Affiliation**:<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi-Clans">Zakasi Clans</a><br>

**Description**
The crust of Zakaas II is primarily composed of basalt, sulfur, and liquid water. It has a weak magnetic field and its atmosphere is composed of a thin layer of sulfates and water vapor, leaving the surface exposed to heavy solar radiation. For this reason, as well as extremely low night temperatures, what little solid land is exposed to the surface is inhabited only by tiny radiation resistant extremophiles. The bulk of Zakaas' megafauna exists in the deep sea or in the Hollow Continents, vast tunnel networks created by ancient volcanic activity.

<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakaas-horizon.png" alt="zakaas horizon"  height="300" width="400" align="left">

The sea floor is chemically and volcanically active, and is home to huge forests of phosphorescent chemosynthetes, as well as other things. Due to the distance from the sun and the hazardous nature of the surface, the deep sea contributes more energy to the global ecology than photosynthetic surface algae. However, the most important inhabitants of the planet, the interstellar Zakasi, emerged neither on the surface, nor in the deep sea, but in the hollow continents, from an ecology driven by subterranean chemosynthetic slimes and fungi. 


<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Planets">Back to Planets Home</a>


