![space zakasi](https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/space-zakasi.png)
![space zakasi armor](https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakasi-armor.png)
![space zakasi high engineer](https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakasi-high-engineer.png)
![space zakasi ambush](https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakasi-ambush.png)
![skirriashi vs. zakasi](https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/skirriashi-vs-zakasi.png)
![space zakasi](https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakasi-reference-0.png)
![space zakasi](https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakasi-reference-1.png)
## Zakasi Technology
![zakasi starcrawler](https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakasi-starship.png)
![starcrawler interior](https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakasi-starship-interior.png)
![starcrawler reference](https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakasi-starship-schematic.png)
![zakasi fighters](https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakasi-space-battle.png)
![zakasi fighter reference](https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakasi-fighter.png)
![zakasi wavecrawler](https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakasi-wavecrawler.png)
![zakasi city](https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakaas-city.png)
![raichikasi portal](https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/raichikasi-portal.png)
## Zakasi Homeworld
![zakaas](https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakaas.png)
![zakaas horizon](https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakaas-horizon.png)
![zakaas sea-beast](https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakaas-seabeast.png)
## Discarded Concepts
<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakasi-concept-0.png" alt="concept" width="211" height="211" align="left">
<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakasi-concept-1.png" alt="concept" width="211" height="211" align="left">
<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakasi-concept-2.png" alt="concept" width="211" height="211" align="left">

<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Gallery">Back to Gallery Home</a>