**Manufacturing Civilizations:**<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Letkirysa-Corporations">Letkirysa Corporations</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi-Clans">Zakasi Clans </a>(licensed and counterfeit)<br>
**Classification:** Burst Fire Assault Rifle<br>
**Official Manufacturer Designation:** NS-17-1-1-x

The NS-17 'Marauder' is a burst rifle developed by <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Letkirysa-Corporations">North Shore Space Systems</a> and licensed to various manufacturers within the Zakasi _Skrirr_, for whose use the weapon was originally designed.


**Development**<br>
The Marauder was developed by North Shore for use by the Space Zakasi.

### Specifications
**Caliber:** 0.17” Hyper Velocity ammunition<br>
**Bullet Weight:** 30 grains<br>
**Muzzle Velocity:** 6100fps (2km/s)<br>
**Muzzle Energy:** <br>
**Recoil Energy:**<br>
**Armor Penetration:** Level IV+ Ballistic armor<br>
**Action:** Electronically Assisted Short Recoil Rotary Action <br>
**Magazine Capacity:** 25, 30, 60, 120<br>

<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Technologies">Back to Technologies Home</a>