**Manufacturing Civilization:** <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi-Clans">Zakasi Clans</a><br>
**Classification:** Wormhole Generator

The Zakasi Hyperspace Burrower is a Wormhole Generator used to achieve faster-than-light travel, developed by the <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi">Zakasi</a> and used by their notorious <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi-Starcrawler">Starcrawlers</a>.

The Hyperspace Burrower uses intense bursts of energy to rapidly create and destroy antimatter within a hyper-gravitational field, creating bubble-like distortions in space-time. By directing these distortions, the device burrows through hyperspace, leaving a usable wormhole. 

While the destination is predictable (within less than a lightyear under ideal circumstances), it is difficult to control, and the greater the distance, the more difficult it is to predict exact coordinates. If the ship remains in the wormhole for too long, there is a possibility of spatial-temporal collapse, from which either escape or survival is virtually impossible. for this reason the burrower is most frequently used for short jumps (1-5 lightyears apart) in dead-space, with more conventional, safer methods of transit being used once the general destination has been reached. Furthermore, repeated use of the burrower is fuel intense, and for a vessel that must remain self-sufficient, this is a serious concern. Thus the device is used with care. 

**Development**<br>
The Hyperspace burrower was enabled by the discovery of The Hyperspace Tunneling Phenomenon. Each of the seven hyperspace engineers who developed the device swore never to reveal the secret, and immediately sold it to over a hundred skrirr. This event has gone down in legend as the most profitable venture in zakasi history.

<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Technologies">Back to Technologies Home</a>