Language: Letkirysian<br>
Primary Species: <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Letkirysa">Letkirysa</a><br>
Capital World: <i href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakaas">Various</i><br>

<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Letkirysa">Letkirysa</a> civilization constitutes a powerful combination of technological innovation and shrewd opportunism. Their vast interstellar bureaucracies have neither lasting enemies nor true friends. Despite their nepotistic tendencies, Letkirysa are imminently rational and their civilization has come to incorporate many other species who manage to ingratiate themselves by their loyalty and usefulness.

**Government**<br>
The Letkirysa have developed a unique social system since leaving their home planet Kriys. Scientifically referred to as the Letkirysa Corporation nearly the entire species coalesced to form an incorporated entity known as North Shore, occasionally stylized as NorthShore or abbreviated NS. 

The company is divided into several divisions, each specializing in a specific industry, technology, or some aspect of running the company. The smallest of these divisions, Known simply as Admin (Letkirysian: Rávce), acts as a form of government. Admin is responsible for managing not only the direction of the company and its component divisions but the direction of the species as a galactic people. The admin division population is estimated at between 25,000 and 38,000 individuals. 

The largest division, NorthShore-TurnKey is responsible for the manufacture and distribution of bulk products such as ammunition, small arms, personal and tactical electronics, as well as aftermarket landcraft, aircraft, and spacecraft modification packages. The population of NorthShore-TurnKey is estimated at greater than 500,000 individuals.

<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Interstellar-Civilizations">Back to Civilizations Home</a>