Language: Zakasi<br>
Primary Species: <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi">Space Zakasi</a><br>
Capital World: <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakaas">Zakaas</a><br>

The <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi">Space Zakasi</a> have lived in small, loosely knit groups of _Skrirr_, or clans, for the vast majority of their history. While the zakasi are a social species, they are strongly individualistic, if not downright treacherous, and groups that grow too large have a tendency to splinter violently. 

The skrirr are typically formed around a self-sufficient hideout, or "_virr_" rather than a geographical region or genetic-similarity, and zakasi culture encourages spawnlings to join and leave several clans before settling down. This helps to maintain genetic diversity within small clans and offsets the zakasi tendency towards isolation. However, if this tradition has done anything to prevent constant inter-clan griefing it is not particularly noticeable. 

While in the past the Skrirr were relegated to subterranean warrens, as zakasi technology has improved, hideouts have become more mobile. <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi-Wavecrawler">Zakasi Wavecrawlers</a> (_Zirakirriz_) are city-sized submersible craft that wander the seas of Zakaas, and more recently <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi-Starcrawler">Starcrawler</a> spacecraft (_Yahikirriz_) have brought the zakasi menace into interstellar space. These devices are typically powered by a combination of fission generators and photon collectors. 

<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakaas-city.png" alt="zakaas city"  height="300" width="400" align="left">

Most Skrirr are led by a supreme autocrat, who appoints officers, delegates tasks and grants privileges as needed to keep the operation running. Zakasi Culture has no official, universal titles. Rather, each autocrat assumes the most impressive title that he can convince his troops to ever actually use. Supreme Dictator (_Shaishikirri_) and Ultimate Warlord (_Yahavarshaik_) are popular, but still make up only a fraction. The greatest and most feared warlords may precede their title with two or even three adjectives, though to this day the Legendary Galactic Thrice-Greatest God-Slaying President skrizzirrak holds the record.

**Language**<br>
Zakasi language incorporates radio emissions and high-frequency vocalizations normally undetectable by humans without aid. The remainder consists of Donald Duck noises.

**Religion**<br>
Zakaasi revere a repulsive deity known as the Maggot of the Deep. It was once believed the Maggot created Zakaas and the Zakasi before crawling into the core to begin its metamorphosis, fed by the psychic trauma of the dying inhabitants of the planet until it emerges to destroy the universe at the end of time. 
More modern theories are divided between the notions that the maggot is an ascended <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Grognardians">grognardian</a> somehow imprisoned below the sea and the belief that the maggot was only ever an analogy for a beast of a much larger scale and menace.

<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Interstellar-Civilizations">Back to Civilizations Home</a>