<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakaas.png" alt="zakaas"  height="300" width="300" align="right">

**Radius**: 7621 km<br>
**Mass**: 4.66×10^24 kg<br>
**Surface Temperature**<br>
&nbsp;&nbsp;&nbsp;&nbsp;Minimum: −226°F<br>
&nbsp;&nbsp;&nbsp;&nbsp;Mean: −82°F<br>
&nbsp;&nbsp;&nbsp;&nbsp;Maximum: 95°F<br>
**Surface Gravitational Acceleration** 5.35 m/s^2
**Surface Pressure:** 11.023 kPa<br>
**Day Length** 302 earth hours<br>
**Year Length** 388 earth days<br>
**Surface Gravity**: 8.4 m/s^2<br>
**Satellites**<br>
&nbsp;&nbsp;&nbsp;&nbsp;Vorskarr<br>
&nbsp;&nbsp;&nbsp;&nbsp;Garsagkcha<br>
**Sentient Inhabitants**:<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Shuraiga">Shuraiga</a><br>
**Political Affiliation**:<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Shuraiga-Clusters">Shuraiga Clusters</a><br>

**Description**
Argatha III is an unstable ocean planet. It's crust is striated into an outer and inner crust. the outer crust is porous stone covered in oxygen rich oceans, the inner crust is formed of water ice. Between them is a subterranean sea of highly toxic sulphur oceans. The porous outer crust floats atop the inner sea, but fractures at regular intervals, venting high-pressure water from the toxic undersea in deadly geysers. 

These geysers frequently result in localized ecological catastrophe. Generally too rare and small to result in the evolution of specialized life-forms, these bursts kill off even many oxygen dependent protozoa and other scavengers caught in the affected areas (though many species of photosynthetic algae thrive under these conditions). This results in the phenomena known as corpse-continents, where such blobs of deceased organisms float together and form biomes unto themselves. These were key in the evolution of the planet's sentient lifeforms, the shuraiga.

Due to low surface gravity, cold temperatures and high oxygen content, the upper seas of argatha are home to unusually large megafauna. The combination of cold temperatures and high oxygen content arises from a thin atmosphere, relatively lacking in CO2 and other "greenhouse gasses", and from the world's binary star system, which offers two sources of light at colder wavelengths. 

<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Planets">Back to Planets Home</a>