<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/grognardian.png" alt="grognardian"  height="300" width="300" align="right">

**Homeworld**: <i href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Grognarius">Grognarius</i><br>
**Culture**: <i href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Grognardian-Empire">Grognardian Fedoration</i><br>
**Thermal Regulation**: gigantotherm<br>
**Respiration**: oxygen<br>
**Height**: 120-140cm<br>
**Mass**: 140-240kg<br>
**Voice**: Jabba the Hutt<br>

The Grognarians are a race of katana-wielding warriors hailing from the distant worlds of the Fedorus Cluster. They are immensely stubborn and wary of the unfamiliar, and as a result many other civilizations regard them as backwards or uncouth.

Originating in the cold mountains of Grognarius prime, The grognarians evolved thick, insulated hides and great manes to help protect them from the frigid temperatures. Even so, they preferred to live deep underground, occasionally venturing out to drink the mineral-dense moisture that coalesced on the slopes. It was deep within the mountains that the grognarians developed their sacred communication methods, unchanged for over a hundred million years.

<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/grognardian-fighter.png" alt="grognardian fighter" height="300" width="300" align="left">

Grognarians wear their beards proudly and consider it dishonorable to shave. Their leaders, the graybeards, are almost completely immobilized by their stupendous foliage. 

**Economy**<br>
Grognarian agriculture is founded on spongey, orange, fingerlike tubers grown in pools of fermenting grog-milk. These _chi'tau_ are ground into a flour and sintered with precious metals to create the _Daurr'i'tau_, the basic unit of grognarian currency.

**Religion**<br>
Grognarians do not worship any deity. Grognarians believe that they are sufficiently enlightened by their own intellects, and are euphoric on this count.

<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Species">Back to Species Home</a>