<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/letkirysa.png" alt=""  height="300" width="300" align="right">

**Homeworld**: <i href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Kriys">Kriys</i><br>
**Culture**: <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Letkirysa-Corporations">Letkirysa Corporations</a><br>
**Thermal Regulation**: endotherm<br>
**Respiration**: Dioxide<br>
**Height**: 90-100cm<br>
**Mass**: 25-30kg<br>

Letirysa are an interstellar race of small flying subterranean sentients notorious for their calculating mentality and role in the interstellar arms trade.
The Letkirysa claim to have evolved from a more terrestrial organism (Zemkirysa) from whom they split off in ancient times. The exact reasons for the break off is debated but most inhabitants of the galaxy are primarily familiar with the interstellar Letkirysa.

**Physiology**<br>
Letkirysa are warm-blooded subterranean sentients. They have two pairs of limbs, the larger set is webbed and suitable for flight, while the smaller, hind pair is capable of fine tool manipulation. Letkirysa are able to move comfortably in the open atmosphere or across most porous surfaces. Like terrestrial mammals Letkirysa give birth to live young. However, Unlike mammals the species does not nurse its young. Instead, Letkirysa infants are capable of independent flight and navigation within a few hours of birth and instinctively scavenge for food. 

**Senses**<br>
Having originated as a subterranean species, Letkirysa navigate mainly by echolocation, but have rudimentary eyes. Their large ears can detect sounds within roughly double the range of humans or approximately 10hHz to 44kHz. In addition to their standard hearing range the species has an additional band of sensitivity at 110kHz and 201kHz, the frequencies used for echolocation . The extreme sensitivity of their ears makes hearing damage a serious concern, but this is offset by both evolved and engineered protective mechanisms as well as the ability to regenerate damage to certain parts of the inner ear. 

Their eyes rely on a refractive cornea to render an image and are sensitive enough to detect even a single photon. However, their eyes have a very high ratio of non-image-forming photosensitive ganglion cells (ipRGCs), outnumbering optical photoreceptor cells by nearly 50:1. Because of how sparse their optical photoreceptor cells are they have limited ability to resolve fine detail. The high density of ipRGCs appears to be an evolutionary maladaptation. That said, there is a connection between ambient light level and some innate behaviors such as selecting between the 110kHz and 201kHz echolocation channel. The purpose of this ambient light sensitivity is unknown and may have evolved in response to a predator encountered on their home world.

**Psychology**<br>
Letkirysa are methodical, rational, and calculating. The species displays an extreme in-group–out-group bias and are often regarded as cold and even ruthless by many races. This reputation is well deserved even if not universally accurate. It stems from the species highly selective empathy and bureaucratic society. 

Despite this noted lack of concern for outsiders, it is extremely rare for Letkirysa to directly engage in aggression, as they consider overt warfare beneath them. Far from being pacifists, Letkirysa are notorious war profiteers and they can be linked to countless wars throughout their sphere of influence and will often deliberately destabilize regional politics.

This selectiveness of empathy is a point of curiosity for many xenobiologists. Although individuals of the species generally come across as mild-mannered and even charming, as a collective the species is best defined as sociopathic. There is no readily discernible pattern in who or what the Letkirysa will take a liking to. They become fiercely protective of those they countenance while exploiting others without remorse or scruple. Such abuse rarely takes the form of active aggression, but this tendency owes more to shrewd analysis of risk than to inter-species compassion. Indeed, Letkirysa society does not formally recognize xenocide (let alone violence or fraud towards outsiders) to be a crime or even particularly unethical.

<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Species">Back to Species Home</a>