<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/pizzabuddy.png" alt="pizza buddy"  height="300" width="300" align="right">

**Homeworld**: <i href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Pizza World">Pizza World™</i><br>
**Culture**: <i href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Pizza-Bros-(Restaraunt-Chain)">Pizza Bros™ Franchise</i><br>
**Thermal Regulation**: endotherm<br>
**Respiration**: oxygen<br>
**Height**: 90-110 cm<br>
**Mass**: 70-85 kg<br>
**Voice**: Pizza Delivery Guy Voice<br>



Guaranteed to Deliver anywhere in the galaxy in just 30 minutes

"We are all part of the great Chain" - supreme chef Meatlover IV

<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Species">Back to Species Home</a>

<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/pizzabuddy-starship.png" alt="pizza buddy delivery vessel"  height="300" width="500" align="left">

