<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/raukaashja.png" alt="raukaashja"  height="300" width="300" align="right">

**Homeworld**: <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Shauraaj">Shauraaj</a><br>
**Culture**: <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Raukaashja-Empires">Raukaashja Empires</a><br>
**Thermal Regulation**: endotherm<br>
**Respiration**: Chlorine<br>
**Height**: 180-220cm<br>
**Mass**: 120-150kg<br>
**Voice**: bug noises<br>

The Raukaashja are a race of interstellar conquerors. They are sentient bipeds and obligate carnivores evolved from arboreal apex predators. Their tightly regimented and genetically stratified societies retain traces of hive structures found in earlier ancestors.

**Physiology**<br>
Raukaashja are six-limbed bipeds, with one pair of locomotive limbs, one pair of tool manipulating limbs, and one pair of limbs ending in spikes of sharpened bone. these last aid in vertical locomotion and in melee combat, though with the invention of firearms the value of the latter has diminished outside of ritual or gladiatorial combat. Raukaashja additionally have long tails, which in some castes may end in a hardened spike similar to their scythes.

The ancestors of the Raukaashja were supported by exoskeletons, but these evolved over time to resemble endoskeletons in many ways. their bones remain relatively light, yet often extend beyond the epidermis, forming protective plating.

<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/raukaashja-hunter.png" alt="raukaashja"  height="300" width="300" align="left">

Raukaashja have eight eyes, protected by bony faceplates. They lack external ears, but their bodies, especially their heads, are covered with wiry sensor antennae. These antennae lack the dexterity to manipulate tools, but can be flexed or extended. they are sensitive to pressure waves, scent, and electromagnetic radiation. Significantly, it is by means of these antennae that Raukaashja pheromones are emitted and received, enabling Raukaashja to identify each other and communicate nonverbally at a distance.

Raukaashja molt throughout their life, and will eventually regenerate lost limbs. They are unable to regenerate their eyes however, which, considering their aggressive behavior, likely favored the evolution of their protective plates and redundancy.  


**Psychology**<br>
Raukaashja psychology is fundamentally predatory regardless of caste. Even among the species' artisans and engineers, the drive to conquer and win glory surpasses even the urge to survive.  

Raukaashja are immensely prideful and aggressive. They take for granted that anyone outside their empire is a foe. Those who defeat the Raukaashja in battle are accepted as worthy opponents, but they have nothing but contempt for conquered peoples, who they treat as utterly disposable. 

<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Species">Back to Species Home</a>