<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/sekorai.png" alt="sekorai"  height="300" width="300" align="right">

**Homeworld**: <i>Sharaag</i><br>
**Culture**: Solitary<br>
**Thermal Regulation**: ectotherm<br>
**Respiration**: Anaerobic<br>
**Height**: 320-???cm<br>
**Length**: 960-????cm<br>
**Mass**: 50-???kg<br>
**Voice**: Zasz from Starcraft<br>

Sekorai are bizarre cosmic sentients who drift upon the solar winds. The sekor rarely speak of their homeworld, but when they do, they describe it as a black and lightless sphere of writhing life. They refer to it as Sharaag, the Lightless Star, or the Living Star. If it has ever been discovered, it's discoverer has not lived to tell of it. 

**Physiology**<br>
Sekorai are formed of a strange, fungal material oily in appearance yet spongy to the touch. It is bizarrely strong yet rare, and even the largest (there appears to be no limit to their size) weigh surprisingly little. They do not breathe, and can survive in dead-space seemingly indefinitely. Their cells are long and fibrous, rather than spherical. 

A thick black substance like gelled petrol dribbles from their primary appendage when excited, and oozes from their flesh when damaged. This substance reacts strangely with RNA and DNA of carbon-based life. Their internal organs are indistinct and semi-liquid, seeming to flow into each other and shift about. Sekorai seem able to arrange them to mimic those of creatures they encounter, including speech. 

Their external form, which appears vaguely insect-like, does not seem so plastic. indeed, besides their size, sekorai appear to vary from one another only in their ornamental antennae. Their bodies are long, with 4 sets of prehensile limbs and 1 pair of locomotive limbs. along the dorsal side, their bodies are covered in chimney-like "spines", and from their fore-most region, a long "neck" supports a structure resembling a head. from the neck, long, black tentacles droop like a curtain. The "head" is covered in a bony plate and two antennae sweep back on either side. The antennae seem to serve a sensory function, but otherwise, the appendage does not appear to serve any roles typical of what is usually termed a head, as eating, speaking, and thinking are all done within the thorax.   

In addition to the ichor of the internals and the spongy flesh, the Sekorai also produce hard, bony substances, but where it is found, this appears to be supported by the flesh rather than the other way around, despite its greater density. It seems to serve as armor, and it serves this role very well, having a strength comparable to graphene. 

Sekorai respond to light and can identify color, and the spectrum visible to them extends far above and below that of most species. The absence of light does not seem to hinder them though, and indeed, ordinary matter does not prevent them from perceiving objects around them (though the range of this sense appears limited by space). It is widely speculated that the sekorai interact with forces besides the four understood and observable by man. They do not appear to be extra-dimensional, and are effected comparably to ordinary creatures by hyperspatial anomalies.

The sekorai most commonly encountered are within 3 and 6 meters long, and though smaller sekorai are never encountered, they appear to grow steadily as long as they can feed.

**Psychology**<br>
Sekorai are cantankerous, solitary, and secretive. They are openly contemptuous of, and spiteful towards, carbon-based lifeforms when pressed by circumstance to associate with them. They not only refuse to discuss all but the most superficial details of their own kind, but actively seek to prevent any such information from being discovered, or destroying records that exist.

When they find a planet inhabited by carbon-based life they touch down and create a nest for themselves in isolated regions where they dwell for a seemingly random period of time. Their effects on local wildlife is usually unpleasant, and their primary interests are generally to consume biomass.

Sekorai hunger for biomass, though its absence does not seem to affect them. They are not above simply taking it by force, if it seems possible, but they also possess a strong, even monomaniacal, sense of self-preservation, and will resort to peaceful measures if they believe their victims may be capable of lethal retaliation. When need arises, they can be  surprisingly charming and reasonable. Sekorai can be bribed by promises of sufficient quantities of biomass, or of particularly rare forms, to undertake certain tasks or spare a region.

Sekorai seem to require biomass to grow, but they are also strangely interested in acquiring new varieties of biomass, going to great lengths to consume new kinds of carbon based life, even at the expense of greater quantities. 

Because of their strange powers and vast knowledge, Sekorai sometimes become the object of cults, if they are discovered by sentient species prone to that sort of thing. Though ordinarily solitary and secretive, sekorai seem to make an exception for such cults, and far from driving them away will even encourage them. It is possible this tendency to attract the devotion of sentient creatures has less to do with the superstitions of the devout than to some subtle hypnotic power of the Sekorai. For such solitary and alien beings, they can be _surprisingly_ glib and persuasive.

Sekorai avoid each other, and when forced into contact, the most common outcome is a fight to the death, usually while both parties ignore everything else in the vicinity, including direct attacks by non-sekorai, followed by the consumption of the defeated by the victor. 


<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Species">Back to Species Home</a> 