<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/antumbrid.png" alt="skin collector"  height="300" width="300" align="right">

**Homeworld**: <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Antumbria">Antumbria</a><br>
**Culture**: <i href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Antumbrid-Suture">The Antumbrid Suture</i><br>
**Thermal Regulation**: endotherm<br>
**Respiration**: photosynthesis<br>
**Height**: 120-240cm<br>
**Mass**: 40-80kg<br>
**Voice**: spooky skeleton voice<br>

Antumbrid Skin Collectors are skeletal sentients with plant-like biology. 

They obsess over the collection of skin and fat from fleshy organisms, which they use to cover their thin and bony forms.

<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Species">Back to Species Home</a>

<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/antumbrid-aristocrat.png" alt="skin collector" >>Back to Species Home</a>