<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/skirriashi.png" alt="skirriashi"  height="300" width="300" align="right">

**Homeworld**: <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakaas">Zakaas</a><br>
**Culture**: <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi-Clans">Zakasi Clans</a><br>
**Thermal Regulation**: endotherm<br>
**Respiration**: Sulfur-dioxide<br>
**Height**: 450-570cm<br>
**Mass**: 150-200kg<br>
**Voice**: The Hydralisk from starcraft<br>

The Skirriashi are sentient ambush predators native to <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakaas">Zakaas</a>. They are the natural predators of the <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi">Zakasi</a>, to whom they are distantly related. 

Originally dwelling in underground seas and the tidal caves at the edges of the hollow continents, they have since spread out, following the _skrirr_ to the continent interiors, The Deeps, and even the stars. As the Skirriashi have grown more intelligent, they have managed to overcome their predatory instincts sufficiently to integrate, more or less, with the civilization of their prey.

**Physiology**<br>
Skirriashi are warm-blooded amphibious carnivores adapted to hunt in low-light or lightless environments. They breathe through their nostrils while on land, and filter dissolved sulphur dioxide from the water via specialized pores on their necks.

Skirriashi flesh is thick, elastic, and rubbery yet strangely translucent, with patches of straggly, pressure-sensitive hair. Their bodies are long and eel-like. A ridge of flexible sensory spines runs along their spine to the crest of their head, the foremost of which terminates in a bio-luminescent node.

Their spinal columns are complex, composed of three interlocking helixes and surrounded by dense cartilaginous muscle. By extending or tightening their spines, skirriashi can achieve nearly boneless flexibility or solidity on par with large terrestrial organisms. 

Skirriashi possess two sets of bony limbs, one for tool manipulation and one for locomotion. Both hands and feet are webbed for use in aquatic environments, although in this case the legs are secondary to the tail which provides the primary motive force. The tail is powerful and terminates in a bio-luminescent node used for navigation and for luring in certain kinds of prey.

In addition to these true limbs, the Skirriashi possess two pairs of prehensile tentacles extending from their upper backs. The dominant pair terminate in powerful grasping pincers and can grow up to 5 meters in length. The inferior pair are slightly shorter and are tipped with bio-luminescent nodes. Both are capable of grasping objects, but the former are thick and muscular while the latter are thin and unsuited for applying force. Neither are dexterous enough for fine manipulation.

Skirriashi are extremely durable and resilient, and, granted sufficient biomatter, possess almost unlimited capacity for self-repair. Full regeneration of amputated limbs and organs may take days or weeks, but even the most severe flesh wounds heal over in minutes. Damage to bones triggers an immediate growth of cartilaginous material which allows them to function while the osseous material reconstructs. They possess secondary hearts and their gastrointestinal linings are composed of multiple layers of alternating tissue and kinetically resistant self-sealing mucus.

<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/skirriashi-and-zakasi.png" alt="skirriashi"  height="500" align="left">


**Senses**<br>
Skirriashi hunt primarily by sight, but possess a wide array of secondary senses. Their eyes are bulbous and capable of protruding beyond their skull, allowing a wide range of vision at any given time. They are adapted to low-light conditions and see deep into the infrared spectrum.

Although incapable of emitting coherent radio signals, they are highly sensitive to the frequency bands used by their land-based prey. The large, dense ears that are required for this also aid in the detection of sound.  

For hunting in aquatic environments, Skirriashi possess a lateral line which allows them to detect movement, vibration, electrical fields, and pressure gradients in the surrounding water.

**Psychology**<br>
Skirriashi are solitary and territorial in the extreme and will not tolerate the presence of other Skirriashi within their domain. They are predatory and endlessly self-serving. As they form no natural societies or families of their own, skirriashi lack any form of empathy or other social instincts. 

Skirriashi retain the mindset of their ambush predator ancestors, willing to lurk for weeks or months for prey to come in reach. This tendency manifests in modern skirriashi as a boundless, sinister patience. Just as they scheme and plot for advantage over the course of decades or even centuries, Skirriashi will also brood upon slights and injuries until the chance for retribution arises. 

Despite their anti-social and individualist nature, Skirriashi acknowledge the advantages of civilization and science as discovered by the zakasi and grudgingly seek to integrate with them. They have never accepted the short-lived, scavenging zakasi as equals, however, and treat them as expendable at best.



<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Species">Back to Species Home</a>