**Homeworld**: <i href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Vidraxas">Vidraxas</i><br>
**Culture**: <i href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Skobble-Federation">Skobble Federation</i><br>
**Thermal Regulation**: endotherm<br>
**Respiration**: Ammonia<br>
**Height**: 80-90cm<br>
**Mass**: 50-60kg<br>
**Voice**: The Chipmunks<br>

Planet Vidraxas was once home to two sentient species. The mighty Vidrax emerged first, and quickly subjugated the rest of the planet. However, due to their intensely territorial and aggressive nature, the Vidrax civilizations were not expansive, despite having already achieved interstellar faculties due to their long lifespan. Significantly, the solitary vidrax had felt no need to systematically domesticate the remaining wildlife. Against all odds, one of these prey species achieved sentience and became the Skobble as they are known today. 

For many millions of years the rodent-like skobble survived as a slave race to the vidrax. Eventually, however, the Vidrax detected that the planet was about to pass through a meteor cloud, resulting in environmental changes that would make the planet inhospitable for them. The Vidrax boarded their ships and abandoned the planet to its fate. 

The primitive skobble, having built their entire culture around hatred for their vidrax masters, were left in a state of confusion. However, when it became clear the vidrax had really vanished, the skobble began to timidly build up their own civilization upon the derelict cities abandoned by their former overlords. Over generations, the skobble came first to believe that they had driven off the vidrax in a glorious war of conquest, and then that the vidrax had only ever been a myth.

However, though modern skobble entirely deny that they had ever been subordinate to such a mythical species, the vidrax are still ritually demeaned and profaned in every aspect of skobble society. important leaders take titles such as vidrax-slayer or vidrax-tamer. the term vidraxian is used to refer to anything extremely horrible, selfish, hostile, or tyrannical. the most distinct motif of skobble literature is the omnipresence of stupid yet horrible creatures called vidrax, or who resemble vidrax, who are graphically and obscenely butchered and/or tamed by skobble heroes. 

The skobble's continuing obsession with a species they claim has never existed mystifies races who have come into contact with them.

<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Species">Back to Species Home</a>