<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/slikkilli.png" alt="slikkilli"  height="300" width="300" align="right">

**Homeworld**: <i href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Sillik">Sillik</i><br>
**Culture**: <i href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Slikkilli-Network">Slikkilli Network</i><br>
**Thermal Regulation**: Endotherm (Thermo-electric)<br>
**Respiration**: Electrosynthesis<br>
**Length**: 220-300cm<br>
**Mass**: 20-40kg<br>
**Voice**: voltorb from pokemon<br>

Slikkilli are carbon based organisms who arose on the storm-covered world of Sillik XI. The little light that reached the planet from its distant star was prevented from reaching the surface by it's thick, roiling atmosphere of water vapor. Lacking sunlight, the planet's inhabitants survived by exploiting the static electricity produced by the eternal storms. 

The Slikkilli were the apex predators of this world, developing increasing sentience in order to better process signals emitted by others of their kind. From aerial predators, they evolved into the planet's first interstellar race, colonizing the atmosphere with vast floating cities of platforms and cables.

**Physiology**<br>


Slikkilli are large, flat, raylike creatures who float through the atmosphere by compressing and decompressing gasses within their body. Their underside houses six pairs of grasping limbs used for catching prey and manipulating tools.

Their core contains a large hump, which houses their gas-compressing organs and a pair of large, metallic, acid-producing organs that function as organic batteries. Slikilli are able to release energy stored or produced in these organs to emit electrical charges. 

They feed primarily on smaller creatures in the atmosphere, from which they obtain metals, hydrocarbons, and other dense materials. They respire by means of absorbing electrons from the atmosphere or by releasing them from the organic batteries within their trunk. Because they do not rely on external chemicals, Slikilli do not require an atmosphere to live.

<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/slikkilli-reference.png" alt="slikkilli"  height="300" width="300" align="left">

**Senses**<br>
Slikkilli rely predominantly on eyesight for navigation, with eyes located throughout their body. Many sets of eyes and antennae, especially on their head, are specialized to view certain wavelengths, giving them an effective visual range from ultraviolet to microwave frequencies. Their bodies are, in addition, extremely sensitive to electromagnetic fields, able to immediately identify the strength, polarity, and source of any field they enter. 

**Psychology**<br>
Slikkilli behavior often appears alien to other carbon-based lifeforms. Having evolved from free-floating and nomadic aerial hunters, slikilli lack territoriality, preferring to wander away from densely populated regions. Because of their natural disinclination to initiate battle over territory, they are sometimes mistakenly viewed as pacifists. 

Slikkilli do not form family units and share many traits with solitary creatures. Their sense of empathy arises from an instinct to retain low density populations while maintaining communication nodes. 

Their society is based fundamentally on the exchange of knowledge. Their system of 'nodes' originally arose to allow other slikilli to pinpoint the location of threats, by relaying information at lightspeed via bioluminescent signals. As the species developed greater sentience, this method of communication became organized and specialized, resulting in the series of nodes that together make up the grand Slikilli Network. Once the Slikilli Achieved FTL travel, the importance of these nodes increased, as it allowed the species to transfer knowledge relatively quickly across vast interstellar spaces.


<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Species">Back to Species Home</a>