<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/space-zakasi.png" alt="zakasi"  height="300" width="300" align="right">

**Homeworld**: <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakaas">Zakaas</a><br>
**Culture**: <a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Zakasi-Clans">Zakasi Clans</a><br>
**Thermal Regulation**: endotherm<br>
**Respiration**: Sulfur-dioxide<br>
**Height**: 140-160cm<br>
**Mass**: 50-60kg<br>
**Voice**: Donald Duck<br>

**Physiology**<br>
Zakasi are long ratlike scavengers from the dark water planet Zakaas. Zakasi naturally produce sulfuric acid during their metabolic processes and have low base PH. Consequently, they have a natural tolerance for acids but are vulnerable to high alkalinity. 

Due to zakaas' inhospitable surface, almost all life evolved either under the seas or in the volcanic tunnels running through the planetary crust. The amphibious predecessors of the zakasi migrated from the deep sea into the (relatively) dry tunnels to avoid larger organisms and take advantage of the hot, energy-rich atmosphere. Although originally the ability to metabolize sulfur-dioxide into sulfuric acid was an opportunistic adaptation, modern zakasi are dependent on this substance and exist in a symbiotic relationship with fungi and bacteria that produce it.

The high pressure and scarce resources of their environment favored stringy, low-density bodies and low-energy feeding behaviors over active hunting. The zakasi were no exceptions, evolving from rodent-like tunnel scavengers. Though their technological advancements have made most of their physical adaptations obsolete, many of their behavioral patterns have lingered.

<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zakasi-armor.png" alt="zakasi"  height="300" width="300" align="left">

**Senses**<br>
By the time the zakasi evolved to their present form, they had entirely lost their eyes. To compensate, Zakasi navigate by a combination of echolocation and radiolocation. As the zakasi have moved away from aquatic lifestyles, the latter has become more sophisticated while the former has atrophied. The sonic clicks used for echolocation are produced using the same vocal organs used for communication. The radiolocation system uses electromagnetic waves in the microwave range. These are emitted from an organ in the skull, similar in operation to a Traveling Wave Tube. Large ears and specialized pressure/heat sensitive hairs are used by both echolocation and radiolocation to receive signals.

In addition to active radar and sonar, Zakasi can passively detect heat, electrical fields and pressure changes in their immediate area, though these are not precise enough to navigate by without additional information. 

**Psychology**<br>
Zakasi are clever and frequently competent, yet cowardly, lazy, and opportunistic. Moreover, they are known for their sarcastic and trollish personalities. Their natural societies, needless to say, are fractious, squabbling, and treacherous at best.


<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Species">Back to Species Home</a>