<img src="https://skulkingscavenger.github.io/the-cool-tapes-galaxy/content/zishras.png" alt="zakasi"  height="300" width="300" align="right">

**Homeworld**: Unknown<br>
**Culture**: Solitary<br>
**Thermal Regulation**: ectotherm<br>
**Respiration**: Ammonia<br>
**Height**: 134 cm<br>
**Mass**: 54 kg<br>
**Voice**: General Grievous from starwars<br>

The Zishras became a species when Zishra, the eternally reborn and master of all science, wiped out the rest of his species, whose name has since been lost to time.

 Zishra had achieved immortality through a process of self-replication which he dubbed Zishratizing. Using advanced genetic and surgical techniques, Zishra created a number of psychic thralls who shared his exact mental state at all times. 

When his starship was destroyed by revolting minions, these replicas became autonomous and, realizing that they had made a mistake in creating multiple replicas, immediately went to war with each other for control of their territory. 

There are now many zishras, as each copy was loathe to risk the extinction of the True Zishra Thought Pattern, and continued to zishratize multiple thralls before being inevitably assassinated. 

Although all zishras refer to themselves as Zishra or, if more specificity is demanded, 'The Real Zishra', they grudgingly allow others to refer to them by more distinct nicknames or titles.


<a href="https://github.com/SkulkingScavenger/the-cool-tapes-galaxy/wiki/Species">Back to Species Home</a>