/*Color Constants*/
$blue-color: #4673a7;
$dark-blue-color: #375b85;

/*Numeric Constants*/

/*Font Constants*/
$font-main: helvetica;

/*Path Constants*/
$image-url-base: "../content/images/";
$icon-url-base: "../content/images/icons/";